<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.liujiao.sanitationwork">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".activity.App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.UpdateUserActivity" />
        <activity android:name=".activity.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.WorkManageActivity" />
        <activity android:name=".activity.PayManageActivity">

        </activity>
        <activity android:name=".activity.CardManageActivity" >

        </activity>
        <activity android:name=".activity.PublicWorkActivity" />
        <activity android:name=".activity.KaoHeActivity" />
        <activity android:name=".activity.KaoHeMainActivity" />
        <activity android:name=".activity.UserMainActivity" />
        <activity android:name=".activity.LuQuWorkActivity">


        </activity>
    </application>

</manifest>